Flask==3.1.2
flask-cors==6.0.2
gunicorn

numpy==2.4.1
pandas==2.3.3
scikit-learn==1.8.0
joblib==1.5.3
lightgbm==4.6.0

nltk==3.9.2
wordcloud==1.9.5
regex==2026.1.15

matplotlib==3.10.8
pillow==12.1.0

mlflow==3.8.1
