name: CI Pipeline

on:
  push:
    branches: [ master ]

jobs:
  test-api:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.inference.txt
        pip install pytest

    - name: Run tests
      run: |
        pytest tests
